.footer {
  background-color: white;
  padding: 20px 0;
  margin-top: auto;
  border-top: 1px solid #E0E0E0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer .lemon-icon img{
  position: relative;
  height: auto;
}
